html {
    /**Reset para rems**/
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/** General **/

@font-face {
    font-family: segoi-ui;
    src: url('../segoe-ui-4-cufonfonts/Segoe\ UI.ttf');
}

body {
    font-family: segoi-ui;
}

.contenedor {
    max-width: 80rem;
    margin: 0 auto;
    height: 100%;
}

img {
    /**Le doy un tamaño maximo de 100% del contenedor a la imagen**/
    max-width: 100%;
}


/**Utilidades**/

.seccion {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.fw-400 {
    /**Para hacer textos mas delgados**/
    font-weight: 400;
}

.centrar-texto {
    text-align: center;
}


/** Header **/

.contenido-header{
    height: 100%;
    /**posiciona elementos de acuerdo a propiedades de flexbox**/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.barra-menu {
    margin: 1rem 0;
    align-content: center;
}

.logo {
    flex-basis: 20%;
}


/**Navegador**/

.navegacion {
    margin: 2rem 0 2rem;
}

.navegacion a {
    color: black;
    text-decoration: none;
    font-size: 2rem;
    margin-right: 3.5rem;
}

.navegacion a:hover {
    color: gray;
}

.navegacion a:last-of-type {
    margin-right: 0;
}

.wrapper {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.site-menu {
    background: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 10;
}

nav {
    float: left;
    /* Desplazamos el nav hacia la izquierda */
}

nav ul {
    list-style: none;
    overflow: hidden;
    /* Limpiamos errores de float */
}

nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

nav ul li a {
    display: block;
    /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 20px;
    color: #053477;
    text-decoration: none;
}
/** Titulo **/
.contenido-header{
    position: absolute;
    top: 10%;
    left: 25%;
    Color: #053477;
    z-index: 2;
}
.contenido-header h1{
    font-size: 5.8rem;
    padding: .5rem;
    margin:0;
}
.background-header{
    background-image: url("../img/site-header-background.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    margin-bottom: 10rem;
}
.background-header::before{
    content:"";
    height: 100vh;
    width: 50% ;
    background-color: rgba(100, 100, 100, 0.4);
    position: absolute;
    z-index: 2;

}
/**Main**/
.container{
    display:flex;
}

.trabajo{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 30%;

}
.titulo2{
    flex-basis: 70%;
    position:relative;
    text-align: center;
}
.bloques{
    display:flex;
    
}
.trabajo{
    display:flex;
    flex-direction: column;
    justify-items: center;

}
.titulo2 h2{
    font-size: 5rem;
    color: #2a4b7a;

}
.trabajo h3{
    color: orangered;
    text-align: center;
    font-size: 2.5rem;
    
}
.trabajo p{
    font-size: 1.8rem;
    color: #053477;
    flex-basis: 40%;
    text-align: center;
    line-height:1.2em;
}
.trabajo img{
    max-width:15%;
    float:left;
    margin-right: 2.5rem;
    flex-basis: 70%;
    text-align: center;
}
.cont{
    display:flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}
.cont h2{
    font-size: 5rem;
    color: #2a4b7a;
    margin:0 auto;
    padding-bottom: 5rem;
}
.cont h3{
    font-size: 2.5rem;
    color: #F75F1C;
}
.equipo{
    display: flex;
    justify-content: center;

}
.equipo img{
    max-width: 50%;
}
.equipo p{
    font-size: 2.5rem;
    color:#053477;
}
.persona{
    Flex-basis: Calc(33.3% - 2rem);
}
/**Contacto**/
.contacto{
    display: flex;
    background-color: #2A4B7A;
}
.contacto textarea{
    height: 20rem;
    width: 60%;
}
.titulo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    flex-basis: 30%;
    font-size: 1.5rem;
    margin-bottom: 12rem;
    margin-left: 20rem;
    margin-right: 6rem;
}
.titulo h2{
    color: #F75F1C;
    font-size: 5rem;
    margin-left:8rem;
}
.titulo ul{ 
    margin-left: 15rem;
    text-align: start;  
    list-style-type: none;
    color:#ffffff;
}
.titulo li{
    padding-bottom: 1rem;
}
.formulario{
    flex-basis: 70%;
}
.formulario form{
    margin-top: 2rem;
}
.formulario legend{
    font-size: 2.2rem;
    color:#F75F1C;
}
.info label{
    display: block;
    font-size: 1.5rem;
    color:#ffffff;
}
.info input,select{
    width: 60%;
    height: 3rem;
}
/**Botones**/
.boton input{
    color:#ffffff;
    background-color:   #E35619;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display:inline-block;
    text-align: center;
    border:none;
}
/**Footer**/
.footer-container{
    display:flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #2A4B7A;
}
.container-logos{
    display: flex;
    justify-content: center;
    background-color:#E35619 ;
}
.container-logos ul{
    list-style: none;
    margin-top: 1rem;
    margin-right: 10rem;
    
}
.container-logos img{
    float:left;
    max-width: 5%;
    margin-left: 15rem;
}
.bloque-info{
    font-size: 2rem;
    display:flex;
}
.about,.medios,.contact{
    margin-top:2rem;
    margin-left: 10rem;
    margin-bottom: 3rem;
    width:50%;
}
.contact p{
    margin-top: 2rem;
}
.titulo3{
    font-size: 2.5rem;
}
.titulo3::after{
    content:"";
    display:block;
    width: 33.3rem;
    height:.2rem;
    background-color: #E35619   ;
}