html {
    /**Reset para rems**/
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/** General **/

@font-face {
    font-family: segoi-ui;
    src: url('../segoe-ui-4-cufonfonts/Segoe\ UI.ttf');
}

body {
    font-family: segoi-ui;
}

.contenedor {
    max-width: 80rem;
    margin: 0 auto;
    height: 100%;
}

img {
    /**Le doy un tamaño maximo de 100% del contenedor a la imagen**/
    max-width: 100%;
}


/**Utilidades**/

.seccion {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.fw-400 {
    /**Para hacer textos mas delgados**/
    font-weight: 400;
}

.centrar-texto {
    text-align: center;
}


/** Header **/

.contenido-header{
    height: 100%;
    /**posiciona elementos de acuerdo a propiedades de flexbox**/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.barra-menu {
    margin: 1rem 0;
    align-content: center;
}

.logo {
    flex-basis: 20%;
}


/**Navegador**/

.navegacion {
    margin: 2rem 0 2rem;
}

.navegacion a {
    color: black;
    text-decoration: none;
    font-size: 2rem;
    margin-right: 3.5rem;
}

.navegacion a:hover {
    color: gray;
}

.navegacion a:last-of-type {
    margin-right: 0;
}

.wrapper {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.site-menu {
    background: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 10;
}

nav {
    float: left;
    /* Desplazamos el nav hacia la izquierda */
}

nav ul {
    list-style: none;
    overflow: hidden;
    /* Limpiamos errores de float */
}

nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

nav ul li a {
    display: block;
    /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 20px;
    color: #053477;
    text-decoration: none;
}
/** Titulo **/
.contenido-header{
    position: absolute;
    top: 10%;
    left: 25%;
    Color: #053477;
    z-index: 2;
}
.contenido-header h1{
    font-size: 5.8rem;
    padding: .5rem;
    margin:0;
}
.background-header{
    background-image: url("../img/site-header-background.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    margin-bottom: 10rem;
}
.background-header::before{
    content:"";
    height: 100vh;
    width: 50% ;
    background-color: rgba(100, 100, 100, 0.4);
    position: absolute;
    z-index: 2;

}
/**Main**/
.container{
    display:flex;
<<<<<<< HEAD
}

.trabajo{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 30%;

}
.titulo{
    flex-basis: 70%;
    text-align: center;
    position:relative;
    
=======
    text-align: left;
}
.bloques{
    display:flex;
    
}
.trabajo{
    display:flex;
    flex-direction: column;
    justify-items: center;

>>>>>>> c46b8d6c4754051095f48f90025259b900a15cc7
}
.titulo h2{
    font-size: 5rem;
    color: #2a4b7a;
<<<<<<< HEAD

}
.trabajo h3{
    color: orangered;
    text-align: center;
    font-size: 2.5rem;
=======
    
}
.trabajo h3{
    flex-basis: 30%;
    color: orangered;
    text-align: center;
>>>>>>> c46b8d6c4754051095f48f90025259b900a15cc7
}
.trabajo p{
    font-size: 1.8rem;
    color: #053477;
<<<<<<< HEAD
    flex-basis: 40%;
    text-align: center;
    line-height:1.2em;
}
.trabajo img{
    max-width:15%;
    float:left;
    margin-right: 2.5rem;
=======
    flex-basis: 70%;
    text-align: center;
}
.trabajo img{
    max-width:10%;
>>>>>>> c46b8d6c4754051095f48f90025259b900a15cc7
}

/**Contacto**/


/**Botones**/


/**Footer**/